
<div id="navbar" class="navbar navbar-default ace-save-state" style="display: block">
    <div class="quickLeftDiv">
        <div class="navbar-container ace-save-state" id="navbar-container">
            <div class="navbar-header pull-left">
                <a href="#" class="navbar-brand">
                    <img src="../../ClientApp/assets/images/quickcheck1.png" style="width: 100%;">


                </a>

            </div>
        </div>
    </div>
    <div class="quickrightDiv">
        <div>
            <h5 class="logout" (click)="logout()">Logout</h5>
            <!--<img src="../../ClientApp/assets/images/kotak-bank-logo.png" />-->
        </div>
        <div class="navbar-buttons navbar-header pull-right adminddl" role="navigation">
        </div>

    </div>
</div>