<div class="container">
    <div class="loading-screen-wrapper" *ngIf="loading">
        <div class="loading-screen-icon">
            Loading...
        </div>
    </div>
    <div class="card bg-light">
        <article class="card-body mx-auto" style="max-width: 400px;">
            <h4 class="card-title mt-3 text-center">Rohit Temp Demo Work</h4>
            <p class="text-center">Get started with your free account</p>

            <form [formGroup]="Login" autocomplete="off" >
                <div *ngIf="sucess" style="font-size: medium;font-weight: bold;color: red; " role="alert">Your Form is Valid</div>
                <div class="form-group input-group" [ngClass]="displayFieldCss('FullName')">
                    <!--<input style="display:none" type="text" formControlName="flag" name="flag" class="form-control" />
                    <input style="display:none" type="text" formControlName="empid" name="empid" class="form-control">-->
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                    </div>
                    <input required name="Fullname" class="form-control a" formControlName="FullName"
                           placeholder="Full name" type="text">

                </div> <!-- form-group// -->
                <div class="form-group input-group" [ngClass]="displayFieldCss('Email')">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                    </div>
                    <input name="Email" class="form-control" formControlName="Email" #Email placeholder="Email address" type="email" >
                    <!--  <div *ngIf="submitted && Login.controls.Email.errors"  class="form-group input-group">
                          <div class="input-group-prepend">
                              <div *ngIf="submitted && Login.controls.Email.errors.required" style="font-size: medium;font-weight: bold;color: red; " role="alert">Email Validated</div>
                          </div>
                      </div>-->
                </div> <!-- form-group// -->
                <!-- form-group// -->
                <!-- form-group end.// -->
                <div class="form-group input-group" [ngClass]="displayFieldCss('Password')">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                    </div>
                    <input class="form-control" name="Password" formControlName="Password" #Password placeholder="Create password" type="password">
                    <!--
                    <div *ngIf="submitted && Login.controls.Password.errors"  class="form-group input-group">
                        <div class="input-group-prepend">
                            <div *ngIf="submitted && Login.controls.Password.errors.required" style="font-size: medium;font-weight: bold;color: red; " role="alert">Password is vaalidated</div>
                        </div>
                    </div> -->
                </div>
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <button style="width: fit-content;" type="submit" (click)="onSubmit()" class="btn btn-primary btn-block"> Save</button> </span>
                    </div>
                    <div class="input-group-prepend">
                        <span class="input-group-text">  <button [disabled]="buttonDisabled1" style="width: fit-content;" type="submit" (click)="deleteEmp();" class="btn btn-primary btn-block"> Delete</button> </span>
                    </div>
                </div> <!-- form-group// -->
                <!-- form-group// -->
                <div class="form-group" *ngIf="Show">
                    <table class="table">
                        <thead>
                        <th style="display: none;"></th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Password</th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let data of employee ; index as i" (dblclick)="onRowClicked(data)" (click)="setClickedRow(i)" [class.active]="i == selectedRow">
                                <td style="display: none;">{{data.EmpId }}</td>
                                <td>{{data.FullName }}</td>
                                <td>{{data.Email }}</td>
                                <td>{{data.Password }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </form>
        </article>
    </div> <!-- card.// -->

</div> 