body {margin:0px; padding:0px
}
table {
    border-collapse: collapse;
    width: 100%;
}

table thead {
        background-color: #7f8a98;
    }

table thead tr th {
            color: #ffffff !important;
        }



tr:nth-child(even) {
    background-color: #e0e2e4;
}

    table thead tr th, table tbody tr td {
        font-size: 11.5px !important;
        border: 1px solid #dddddd;
        padding:3px 3px;
    }
.no-padding {
padding:0px !important}
.boxhead {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 2px solid #e6edf3;
    border-radius: 4px;
    background-color: #f1f2f3;
    padding: 10px 10px;
}
.form-group label {
font-size:11px !important}
.form-group .txtField {
display:inline-block}
.form-group input[type=text], .form-group input[type=date] {
    height: 22px;
}