<div class="main-content" id="maincontent">
    <div class="content">
        <div class="col-md-12 col-sm-6 col-xs-4 contnt-wrapper">
            <div class="col-sm-6 col-md-6 col-xs-3 no-padding">
                <span class="legal">Link Setup</span>
            </div>
            <div class="rightmenu">
                <div class="toolbar pull-right">
                    <ul class="toolbar-content">


                        <li>
                            <i class="fa fa-file-text" aria-hidden="true" title="New"></i>
                            <label>
                                New
                            </label>
                        </li>
                        <li>
                            <i class="fa fa-pencil-square-o" aria-hidden="true" title="Edit"></i>
                            <label>
                                Edit
                            </label>
                        </li>
                        <li>
                            <i class="fa fa-floppy-o" aria-hidden="true" title="Save"></i>
                            <label>
                                Save
                            </label>
                        </li>
                      
                        <li>
                            <i class="fa fa-reply" aria-hidden="true" title="Back"></i>
                            <label>
                                Back
                            </label>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-md-12 col-sm-12 col-xs-12" id="tbldiv" style="display:block;">
            <table>
                <thead>
                    <tr>
                        <th>Sr No.</th>
                        <th>Link Name</th>
                        <th>Url</th>
                        <th>Purpose</th>
                        <th>Order No</th>
                        <th>Is Active</th>
                        <th>Is Default</th>
                        <th>Created On</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Demo</td>
                        <td>Demo</td>
                        <td>Demo</td>
                        <td>Demo</td>
                        <td>Demo</td>
                        <td>Demo</td>
                        <td>Demo</td>
                    </tr>

                </tbody>

            </table>

        </div>
        <div class="col-md-12 col-sm-12 col-xs-12" id="divForm" style="display:block;margin-top: 3%;">
            <div id="accordion1" class="accordion-style1 panel-group">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" data-target="#branch">
                                <i class="fa fa-angle-right bigger-110"></i>&nbsp; Setup
                            </a>
                        </h4>
                    </div>
                    <div class="panel-collapse collapse in show" id="branch">
                        <div class="panel-body">
                            <div class=" col-sm-12 col-xs-12 col-md-12">
                                <div class="row pl-3">
                                    <div class="col-md-4 col-sm-3 col-xs-12 no-padding">
                                        <div class="form-group">
                                            <label class="col-sm-4 col-md-4 col-xs-4 control-label no-padding" for="form-field-1">
                                                Link Name
                                            </label>
                                            <div class="col-sm-7 col-md-7 col-xs-7 no-padding txtField">
                                                <input type="text" id="txtLinkName" class="col-sm-12 col-md-12 col-xs-12" placeholder="Required" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-4 col-md-4 col-xs-4 control-label no-padding" for="form-field-1-1">
                                                Icon Name
                                            </label>
                                            <div class="col-sm-7 col-md-7 col-xs-7 no-padding txtField">
                                                <select class="dropdown col-sm-12 col-md-12 col-xs-12">
                                                    <option>Select</option>
                                                    <option>fa fa user</option>
                                                    <option>fa fa-calendar</option>
                                                </select>

                                            </div>
                                            <label id="lblIconDisplay" class="col-md-1 col-sm-1 col-xs-1">
                                            </label>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-4 col-md-4 col-xs-4 control-label no-padding" for="form-field-1-1">
                                                Is Active
                                            </label>

                                            <div class="col-sm-7 col-md-7 col-xs-7 no-padding txtField">
                                                <input type="checkbox" class="entityCheck" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-3 col-xs-12 no-padding">
                                        <div class="form-group">
                                            <label class="col-sm-4 col-md-4 col-xs-4 control-label no-padding" for="form-field-1-1">
                                                Url
                                            </label>
                                            <div class="col-sm-7 col-md-7 col-xs-7 no-padding txtField">
                                                <input type="text" class="col-sm-12 col-ms-12 col-xs-12" placeholder="Required" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-4 col-md-4 col-xs-4 control-label no-padding" for="form-field-1-1">
                                                Purpose
                                            </label>
                                            <div class="col-sm-7 col-md-7 col-xs-7 no-padding txtField">
                                                <input type="text" class="col-sm-12 col-ms-12 col-xs-12 no-padding" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-4 col-md-4 col-xs-4 control-label no-padding" for="form-field-1-1">
                                                Is Default
                                            </label>

                                            <div class="col-sm-7 col-md-7 col-xs-7 no-padding txtField">
                                                <input type="checkbox" class="entityCheck" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-3 col-xs-12 no-padding">
                                        <div class="form-group">
                                            <label class="col-sm-4 col-md-4 col-xs-4 control-label no-padding" for="form-field-1-1">
                                                Order No.
                                            </label>
                                            <div class="col-sm-7 col-md-7 col-xs-7 no-padding txtField">
                                                <input type="text" placeholder="Required" class="col-sm-12 col-ms-12 col-xs-12 no-padding" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-4 col-md-4 col-xs-4 control-label no-padding" for="form-field-1-1">
                                                Parent Menu
                                            </label>
                                            <div class="col-sm-7 col-md-7 col-xs-7 no-padding txtField">
                                                <select class="dropdown col-sm-12 col-md-12 col-xs-12">
                                                    <option>Select</option>
                                                    <option>Setup</option>
                                                    <option>Video</option>
                                                </select>

                                            </div>
                                            <i class="fa fa-plus-circle  plusicon" aria-hidden="true" (click)="onClick($event)"></i>
                                        </div>


                                    </div>
                                    <div class="col-md-4 col-sm-3 col-xs-12 no-padding">


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            

        </div>
    </div>

    <div class="modal" id="parentMenu" [style.display]="showModal ? 'block' : 'none'">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">
                           Parent Menu
                    </h4>
                    <button type="button" class="close" data-dismiss="modal" (click)="hide()">&times;</button>
                </div>
                <!-- Modal body -->
                <div class="modal-body">
                    <div class="col-md-12 col-sm-12 col-xs-12 no-padding">
                        <div class="col-md-12 col-sm-12 col-xs-12 no-padding">

                            <div class="col-md-12 col-sm-12 col-xs-12 no-padding">
                                <label class="col-md-3 col-sm-12 col-xs-12 no-padding-left" style="color: #1f3c61; font-size: 11px; margin-top:5px;">
                                    Parent Menu:
                                </label>
                                <input type="text" class="col-md-6 col-sm-12 col-xs-12" id="txtparentmenu" maxlength="30">
                                <input type="button" class="col-md-2 col-sm-12 col-xs-12 btn btn-success pull-right" value="Save" id="Btnsaveparentmenu">
                            </div>

                            <table id="poptable">
                                <thead>
                                    <tr>

                                        <th style="width: 22%;">Parent Name</th>
                                        <th style="width: 10%;">Edit</th>
                                        <th style="width: 10%;">Delete</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td style="width: 22%;">Setup</td>
                                        <td style="width: 10%;"><i class="fa fa-pencil-square-o greenpencil" aria-hidden="true"></i></td>
                                        <td style="width: 10%;"><i class="fa fa-trash-o redtrash" aria-hidden="true"></i></td>
                                    </tr>
                                    <tr>
                                        <td style="width: 22%;">Setup</td>
                                        <td style="width: 10%;"><i class="fa fa-pencil-square-o greenpencil" aria-hidden="true"></i></td>
                                        <td style="width: 10%;"><i class="fa fa-trash-o redtrash" aria-hidden="true"></i></td>
                                    </tr>
                                    <tr>
                                        <td style="width: 22%;">Setup</td>
                                        <td style="width: 10%;"><i class="fa fa-pencil-square-o greenpencil" aria-hidden="true"></i></td>
                                        <td style="width: 10%;"><i class="fa fa-trash-o redtrash" aria-hidden="true"></i></td>
                                    </tr>
                                    <tr>
                                        <td style="width: 22%;">Setup</td>
                                        <td style="width: 10%;"><i class="fa fa-pencil-square-o greenpencil" aria-hidden="true"></i></td>
                                        <td style="width: 10%;"><i class="fa fa-trash-o redtrash" aria-hidden="true"></i></td>
                                    </tr>
                                    <tr>
                                        <td style="width: 22%;">Setup</td>
                                        <td style="width: 10%;"><i class="fa fa-pencil-square-o greenpencil" aria-hidden="true"></i></td>
                                        <td style="width: 10%;"><i class="fa fa-trash-o redtrash" aria-hidden="true"></i></td>
                                    </tr>
                                    <tr>
                                        <td style="width: 22%;">Setup</td>
                                        <td style="width: 10%;"><i class="fa fa-pencil-square-o greenpencil" aria-hidden="true"></i></td>
                                        <td style="width: 10%;"><i class="fa fa-trash-o redtrash" aria-hidden="true"></i></td>
                                    </tr>
                                </tbody>
                                </table>


                        </div>

                    </div>
                </div>
              
            </div>
        </div>
    </div>
</div>

