<!--<div id="navbar" class="navbar navbar-default ace-save-state" style="display: block">
    <div class="quickLeftDiv">
        <div class="navbar-container ace-save-state" id="navbar-container">
            <div class="navbar-header pull-left">
                <a href="#" class="navbar-brand">
                    <img src="../../ClientApp/assets/images/quickcheck1.png" style="width: 100%;">


                </a>

            </div>
        </div>
    </div>
    <div class="quickrightDiv">
        <div>
            <img src="../../ClientApp/assets/images/kotak-bank-logo.png" />
        </div>
        <div class="navbar-buttons navbar-header pull-right adminddl" role="navigation">
        </div>

    </div>
</div>-->
<div id="navbar1" class="navbar navbar-default ace-save-state">
    <div class="navbar-container ace-save-state" id="navbar-container1">
        <div class="navbar-header pull-left">
           
                <img src="../../ClientApp/images/logoZipNach.png" class="loginlogo" />
                
            
        </div>
    </div>
</div>
<form [formGroup]="LoginForm" class="form" style="display: block">

    <!--<div class="quicklogin" style="text-align: center;">
        <img src="../../ClientApp/assets/images/quickcheck.png" />

    </div>

    <div class="clearfix">
    </div>-->


    <div class="zipNachLogin" id="divzipnach">
        <div class="inset">
            <div class="col-sm-10 col-md-10 loginCon">
              
                <div class="login-container">
                    <div class="head">
                    </div>
                    <div class="center">
                        <h4 class="blue" id="id-company-text"></h4>
                    </div>
    
                    <div class="position-relative">
                        <div id="login-box1" class="login-box visible widget-box no-border">
                            <div class="widget-body">
                                <div class="widget-main">
                                    <h4 class="header blue lighter bigger">
                                        <i class="ace-icon fa fa-coffee green"></i>
                                        <label class="text1">
                                            Please Enter Your Information
                                        </label>
                                    </h4>
                                    <div class="space-6">
                                    </div>

                                    <fieldset>
                                        <label class="block clearfix position-relative">
                                            <span class="block input-icon input-icon-right">
                                                <input name="UserName" type="text" class="form-control" formControlName="UserName" placeholder="Username" />
                                                <i class="ace-icon fa fa-user"></i>
                                            </span>
                                        </label>
                                        <label class="block clearfix position-relative">
                                            <span class="block input-icon input-icon-right">
                                                <input name="Password" type="text" class="form-control " formControlName="Password" placeholder="Password" />
                                                <i class="ace-icon fa fa-lock"></i>
                                                <div class="ace-icon  toolbar1 clearfix">
                                                    <div class="col-md-offset-3">

                                                        <a href="#" data-target="#forgot-box1" class="forgot-password-link" id="forgotPass">
                                                            <img src="../../ClientApp/assets/images/question.jpg" title="Forget Password" class="ace-icon pull-right" />
                                                        </a>
                                                    </div>
                                                </div>
                                            </span>
                                        </label>

                                        <div class="space-6">
                                        </div>
                                        <div class="clearfix">
                                            <input type="submit" value="Login" (click)="onSubmit()" class="pull-right btn btn-sm btn-primary loginbtn">
                                        </div>
                                        <div class="space-6">
                                        </div>
                                    </fieldset>

                                </div>

                            </div>

                        </div>
                        <div class="outer">
                            <p class="inner-content">
                                <div class="inner">
                                    <div class="n-left-content">
                                        <div class="CompLogo">
                                            <img class="im" src="../../ClientApp/assets/images/logo1.png" title="" width="100%" />
                                        </div>

                                    </div>
                                </div>
                        </div>
                    </div>
                </div>


            </div>
            
    </div>
    </div>


    <!--<div id="forgot-box" style="display: none">
        <h1>
            Retrieve Password
        </h1>
        <div class="inset">
            <p style="margin-top: 8%">
                <label for="password">
                    Email
                </label>
                <input name="Email" type="text" class="form-control "
                        placeholder="Email" />
            </p>
            <input type="submit"  value="Agree" class="loginbtn">
        </div>
        <p class="p-container">
            <span id="logbtn" style="cursor: pointer">Login</span>
        </p>
    </div>-->


</form>
<div class="footer" style="display: block">
    <div class="footer-inner">
        <div class="footer-content">
            <span class="text-center" style="color: #000;">
                <span class="blue bolder" style="display: inline-block;">ZipNach</span><span>Application &copy; 2018</span>
            </span>
        </div>
    </div>
</div>