
<div id="navbar1" class="navbar navbar-default ace-save-state">
    <div class="navbar-container ace-save-state" id="navbar-container1">
        <div class="navbar-header pull-left">
           
                <img src="../../ClientApp/assets/images/logoZipNach.png" class="loginlogo" />
                
            
        </div>
    </div>
</div>
<form [formGroup]="LoginForm" class="form" style="display: block">
    <div class="zipNachLogin" id="divzipnach">
        
            <div class="col-sm-10 col-md-10 loginCon">
              
                <div class="login-container">
                    <div class="head">
                    </div>
                    <div class="center">
                        <h4 class="blue" id="id-company-text"></h4>
                    </div>
    
                    <div class="position-relative">
                        <div id="login-box1" class="login-box visible widget-box no-border">
                            <div class="widget-body">
                                <div class="widget-main">
                                    <h4 class="header blue lighter bigger">
                                        <i class="ace-icon fa fa-coffee green"></i>
                                        <label class="text1">
                                            Please Enter Your Information
                                        </label>
                                    </h4>
                                    <div class="space-6">
                                    </div>

                                    <div class="inset">
                                        <label class="block clearfix position-relative">
                                            <span class="block input-icon input-icon-right">
                                                <input name="UserName" type="text" class="form-control" formControlName="UserName" placeholder="Username" />
                                                <i class="ace-icon fa fa-user"></i>
                                            </span>
                                        </label>
                                        <label class="block clearfix position-relative">
                                            <span class="block input-icon input-icon-right">
                                                <input name="Password" type="password" class="form-control " formControlName="Password" placeholder="Password" />
                                                <i class="ace-icon fa fa-lock"></i>
                                                <div class="ace-icon  toolbar1 clearfix">
                                                    <div class="col-md-offset-3">

                                                        <a href="#" data-target="#forgot-box1" class="forgot-password-link" id="forgotPass">
                                                            <img src="../../ClientApp/assets/images/question.jpg" title="Forget Password" class="ace-icon pull-right" />
                                                        </a>
                                                    </div>
                                                </div>
                                            </span>
                                        </label>

                                        <div class="space">
                                        </div>
                                        <div class="clearfix">
                                            <input type="submit" value="Login" (click)="onSubmit()" class="pull-right btn btn-sm btn-primary loginbtn">
                                        </div>

                                    </div>

                                </div>

                            </div>

                        </div>
                        <div id="forgot-box1" class="forgot-box visible widget-box no-border" style="display:none">
                            <div class="widget-body">
                                <div class="widget-main">
                                    <h4 class="header blue lighter bigger">
                                        <i class="ace-icon fa fa-key"></i>
                                        <label class="text1">
                                            Retrieve Password
                                        </label>
                                    </h4>
                                    <div class="space-6">
                                    </div>
                                  
                                    <div class="inset">
                                        <p>
                                            Enter your email
                                        </p>

                                        <div>
                                            <label class="block clearfix position-relative">
                                                <span class="block input-icon input-icon-right">
                                                    <input name="Email" type="text" class="form-control " placeholder="Email" />

                                                    <i class="ace-icon fa fa-envelope"></i>
                                                    <div class="ace-icon toolbar2 clearfix">
                                                        <div class="col-md-offset-3">
                                                            <a href="#" data-target="#login-box1" class="forgot-password-link" id="loginPage">
                                                                <i class="ace-icon pull-right fa fa-home"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </span>
                                            </label>

                                            <div class="clearfix">
                                                <input type="submit" value="Agree" class="pull-right btn btn-sm btn-primary loginbtn">
                                            </div>
                                        </div>
                                        <div class="space-6">
                                        </div>
                                    </div>
                                    </div>
                                </div>
                        </div>
                        <div class="outer">
                            <p class="inner-content">
                                <div class="inner">
                                    <div class="n-left-content">
                                        <div class="CompLogo">
                                            <img class="im" src="../../ClientApp/assets/images/logo1.png" title="" width="100%" />
                                        </div>

                                    </div>
                                </div>
                        </div>
                    </div>
                </div>


            </div>
   
    </div>



</form>
<div class="footer" style="display: block">
    <div class="footer-inner">
        <div class="footer-content">
            <span class="text-center" style="color: #000;">
                <span class="blue bolder" style="display: inline-block;">ZipNach</span><span>Application &copy; 2018</span>
            </span>
        </div>
    </div>
</div>