<div class="main-content" id="maincontent">
    <div class="content">
        <div class="col-md-12 col-sm-6 col-xs-4 contnt-wrapper">
            <div class="col-sm-6 col-md-6 col-xs-3 no-padding">
                <span class="legal">Historical Mandate</span>
            </div>
            <div class="rightmenu">
                <div class="toolbar pull-right">

                </div>
            </div>
        </div>
        <div class="clearfix"></div>

        <div class="col-sm-12 col-xs-12 col-md-12">
            <div class="col-sm-12 col-xs-12 col-md-12">
                <div class="row">
                    <div class="col-md-4 col-sm-4 col-xs-12 no-padding">

                        <div class="form-group">
                            <label class="col-sm-4 col-md-4 col-xs-4 control-label no-padding">
                                From Date:
                            </label>
                            <div class="col-sm-7 col-md-7 col-xs-7 no-padding txtField">
                                <input type="date" class="col-sm-12 col-md-12 col-xs-12" />
                            </div>
                        </div>

                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12 no-padding">
                        <div class="form-group">
                            <label class="col-sm-4 col-md-4 col-xs-4 control-label no-padding" for="form-field-2">
                                To Date:
                            </label>
                            <div class="col-sm-7 col-md-7 col-xs-7 no-padding txtField">
                                <input type="date" class="col-sm-12 col-md-12 col-xs-12" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-1 col-md-1 col-xs-12 no-padding address">
                <label class="add">
                    Filter By:
                </label>
            </div>
            <div class="col-sm-12 col-xs-12 col-md-12">
                <div class="row">
                    <div class="col-md-4 col-sm-8 col-xs-12 no-padding">
                        <div class="form-group">
                            <label class="col-sm-2 col-md-4 col-xs-2 control-label no-padding" for="form-field-2">
                                Corporate:
                            </label>
                            <div class="col-sm-7 col-md-7 col-xs-7 no-padding txtField">
                                <select class="dropdown col-sm-6 col-md-12 col-xs-6">
                                    <option>Corporate 1</option>
                                    <option>Corporate 2</option>
                                    <option>Corporate 3</option>
                                    <option>Corporate 4</option>
                                </select>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12 no-padding">

                        <div class="form-group">
                            <label class="col-sm-4 col-md-4 col-xs-4 control-label no-padding">
                                Reference No:
                            </label>
                            <div class="col-sm-7 col-md-7 col-xs-7 no-padding txtField">
                                <input type="text" class="col-sm-12 col-md-12 col-xs-12" />
                            </div>
                        </div>

                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12 no-padding">

                        <div class="form-group">
                            <label class="col-sm-4 col-md-4 col-xs-4 control-label no-padding">
                                Activity ID:
                            </label>
                            <div class="col-sm-7 col-md-7 col-xs-7 no-padding txtField">
                                <input type="text" class="col-sm-12 col-md-12 col-xs-12" />
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12 col-sm-12 col-xs-12" id="tbldiv">
            <div class="col-md-2 col-sm-2 col-xs-12  no-padding">
                <div class=" col-md-12 pull-right no-padding">
                    <input type="button" class=" AddbtnCSS btn btn-success" style="padding:0 8px; margin-top: 5px; display:inline-block; margin-right:5px" value="Export To Excel">
                </div>
            </div>
            <table style="margin-top:1%;">
                <thead>
                    <tr>
                        <th>Parent Bank Name</th>
                        <th>Corporate Name</th>
                        <th>Mandate Status</th>
                        <th>Mandate ID</th>
                        <th>Reference 1</th>
                        <th>Accept Reference Number</th>
                        <th>NPCI Msg ID</th>
                        <th>MSG ID</th>
                        <th>UMRN</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Demo</td>
                        <td>Demo</td>
                        <td>Demo</td>
                        <td>Demo</td>
                        <td>Demo</td>
                        <td>Demo</td>
                        <td>Demo</td>
                        <td>Demo</td>
                        <td>Demo</td>
                    </tr>
                    
                </tbody>

            </table>

        </div>
    </div>
    </div>

