<div class="main-content" id="maincontent">
    <div class="content">
        <div class="col-md-12 col-sm-6 col-xs-4 contnt-wrapper">
            <div class="col-sm-6 col-md-6 col-xs-3 no-padding">
                <span class="legal">All UMRN</span>
            </div>
            <div class="rightmenu">
                <div class="toolbar pull-right">

                </div>
            </div>
        </div>
        <div class="clearfix"></div>

        <div class="col-sm-12 col-xs-12 col-md-12">
            <div class="col-sm-12 col-xs-12 col-md-12">
                <div class="row boxhead">
                    <div class="col-md-4 col-sm-5 col-xs-12 no-padding">
                        <div class="form-group input-group">
                            <label class="col-sm-4 col-md-4 col-xs-4 control-label no-padding">
                                UMRN:
                            </label>
                            <div class="col-sm-7 col-md-7 col-xs-7 no-padding txtField">
                                <input name="UMRN" class="col-sm-12 col-md-12 col-xs-12" placeholder="" type="text">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-5 col-xs-12 no-padding">
                        <div class="form-group input-group">
                            <label class="col-sm-4 col-md-4 col-xs-4 control-label no-padding" for="form-field-2">
                                Customer Name:
                            </label>
                            <div class="col-sm-7 col-md-7 col-xs-7 no-padding txtField">
                                <input name="Date" class="col-sm-12 col-md-12 col-xs-12 " placeholder="" type="text">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-5 col-xs-12 no-padding">
                        <div class="form-group input-group">
                            <label class="col-sm-4 col-md-4 col-xs-4 control-label no-padding" for="form-field-2">
                                Reference Number:
                            </label>
                            <div class="col-sm-7 col-md-8 col-xs-7 no-padding txtField">
                                <input name="Date" class="col-sm-12 col-md-12 col-xs-12 " placeholder="" type="text">
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12 col-sm-2 col-xs-12  no-padding">
                        <div class=" col-md-12 pull-right no-padding-right">
                            <input type="button" class=" AddbtnCSS btn btn-success" style="padding:0 8px; margin-top: 5px; display:inline-block;float: right;" id="" value="Search">


                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12 col-sm-12 col-xs-12" id="tbldiv">
            <div class="col-md-2 col-sm-2 col-xs-12  no-padding">
                <div class=" col-md-12 pull-right no-padding">
                    <input type="button" class=" AddbtnCSS btn btn-success" style="padding:0 8px; margin-top: 5px; display:inline-block; margin-right:5px" value="Export To Excel">
                </div>
            </div>
            <table style="margin-top:1%;">
                <thead>
                    <tr>
                        <th>Sr No.</th>
                        <th>UMRN</th>
                        <th>Customer Name</th>
                        <th>Reference Number</th>
                        <th>Amount</th>
                        <th>From Date</th>
                        <th>To Date</th>
                        <th>Created On</th>
                        <th>Record Type</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Demo</td>
                        <td>Demo</td>
                        <td>Demo</td>
                        <td>Demo</td>
                        <td>Demo</td>
                        <td>Demo</td>
                        <td>Demo</td>
                        <td>Demo</td>
                        <td>Demo</td>
                    </tr>

                </tbody>

            </table>

        </div>
    </div>
</div>

