<div id="dvLinks">
    <ul class="nav nav-list">
        <li class=""><a routerLink="/dashboard" routerLinkActive="active"><i class="menu-icon fa fa-user" aria-hidden="true"></i><span class="menu-text">Dashboard </span></a></li>
        <li class=""><a routerLink="/user" routerLinkActive="active"><i class="menu-icon fa fa-user" aria-hidden="true"></i><span class="menu-text">User</span></a></li>
        <li class=""><a routerLink="/NachMandate" routerLinkActive="active"><i class="menu-icon fa fa-user" aria-hidden="true"></i><span class="menu-text">Nach Mandate</span></a></li>
        <li class=""><a routerLink="/Newhistoricalmandate" routerLinkActive="active"><i class="menu-icon fa fa-user" aria-hidden="true"></i><span class="menu-text">Historical Mandate</span></a></li>
        <li class=""><a routerLink="/HolidayMaster" routerLinkActive="active"><i class="menu-icon fa fa-user" aria-hidden="true"></i><span class="menu-text">Holiday Master</span></a></li>
        <li class=""><a routerLink="/RegionMaster" routerLinkActive="active"><i class="menu-icon fa fa-user" aria-hidden="true"></i><span class="menu-text">Region Master</span></a></li>
        <li class=""><a routerLink="/EmployeeMaster" routerLinkActive="active"><i class="menu-icon fa fa-user" aria-hidden="true"></i><span class="menu-text">Employee Master</span></a></li>
        <li class=""><a routerLink="/DesignationMaster" routerLinkActive="active"><i class="menu-icon fa fa-user" aria-hidden="true"></i><span class="menu-text">Designation Master</span></a></li>
        <li class=""><a routerLink="/Allumrn" routerLinkActive="active"><i class="menu-icon fa fa-user" aria-hidden="true"></i><span class="menu-text">All umrn</span></a></li>
        <li class=""><a routerLink="/Entity" routerLinkActive="active"><i class="menu-icon fa fa-user" aria-hidden="true"></i><span class="menu-text">Entity</span></a></li>
        <li class=""><a routerLink="/Communicationtemplate" routerLinkActive="active"><i class="menu-icon fa fa-user" aria-hidden="true"></i><span class="menu-text">Communication Template</span></a></li>
        <li class=""><a routerLink="/Submembermaster" routerLinkActive="active"><i class="menu-icon fa fa-user" aria-hidden="true"></i><span class="menu-text">Sub Member Master</span></a></li>
        <li class=""><a routerLink="/Utilitymaster" routerLinkActive="active"><i class="menu-icon fa fa-user" aria-hidden="true"></i><span class="menu-text">Utility Master</span></a></li>
        <li class=""><a routerLink="/Branchmaster" routerLinkActive="active"><i class="menu-icon fa fa-user" aria-hidden="true"></i><span class="menu-text">Branch Master</span></a></li>
        <li class=""><a routerLink="/Psmmaster" routerLinkActive="active"><i class="menu-icon fa fa-user" aria-hidden="true"></i><span class="menu-text">PSM Master</span></a></li>
        <li class=""><a routerLink="/Corporatesetup" routerLinkActive="active"><i class="menu-icon fa fa-user" aria-hidden="true"></i><span class="menu-text">Corporate Setup</span></a></li>
        <li class=""><a routerLink="/Submemberbanksetup" routerLinkActive="active"><i class="menu-icon fa fa-user" aria-hidden="true"></i><span class="menu-text">Sub Member Bank Setup</span></a></li>
        <li class=""><a routerLink="/Userrolesetup" routerLinkActive="active"><i class="menu-icon fa fa-user" aria-hidden="true"></i><span class="menu-text">User Role Setup</span></a></li>
        <li class=""><a routerLink="/Debitpresentmentsetup" routerLinkActive="active"><i class="menu-icon fa fa-user" aria-hidden="true"></i><span class="menu-text">Debit Presentment Setup</span></a></li>
        <li class=""><a routerLink="/Usersetup" routerLinkActive="active"><i class="menu-icon fa fa-user" aria-hidden="true"></i><span class="menu-text">User Setup</span></a></li>









    </ul>
</div>

