<div id="dvLinks">
    <ul class="nav nav-list">
        <li class=""><a routerLink="/dashboard" routerLinkActive="active"><i class="menu-icon fa fa-user" aria-hidden="true"></i><span class="menu-text">Dashboard </span></a></li>
        <li class=""><a routerLink="/user" routerLinkActive="active"><i class="menu-icon fa fa-user" aria-hidden="true"></i><span class="menu-text">User</span></a></li>
        <li class=""><a routerLink="/NachMandate" routerLinkActive="active"><i class="menu-icon fa fa-user" aria-hidden="true"></i><span class="menu-text">Nach Mandate</span></a></li>
        <li class=""><a routerLink="/HistoricalMandate" routerLinkActive="active"><i class="menu-icon fa fa-user" aria-hidden="true"></i><span class="menu-text">Historical Mandate</span></a></li>
        <li class=""><a routerLink="/HolidayMaster" routerLinkActive="active"><i class="menu-icon fa fa-user" aria-hidden="true"></i><span class="menu-text">Holiday Master</span></a></li>
    </ul>
</div>

