<div id="dvLinks">
    <ul class="nav nav-list">
        <li class=""><a routerLink="/dashboard" routerLinkActive="active"><i class="menu-icon fa fa-tachometer" aria-hidden="true"></i><span class="menu-text">Dashboard </span></a></li>
        <li class="">
            <i class="menu-icon fa fa-university pl-1" aria-hidden="true"></i><span class="menu-text">Masters</span>
            <ul>
                <li class=""><a routerLink="/HolidayMaster" routerLinkActive="active"><i class="menu-icon fa fa-user" aria-hidden="true"></i><span class="menu-text">Holiday Master</span></a></li>
                <li class=""><a routerLink="/RegionMaster" routerLinkActive="active"><i class="menu-icon fa fa-user" aria-hidden="true"></i><span class="menu-text">Region Master</span></a></li>
                <li class=""><a routerLink="/EmployeeMaster" routerLinkActive="active"><i class="menu-icon fa fa-user" aria-hidden="true"></i><span class="menu-text">Employee Master</span></a></li>
                <li class=""><a routerLink="/DesignationMaster" routerLinkActive="active"><i class="menu-icon fa fa-user" aria-hidden="true"></i><span class="menu-text">Designation Master</span></a></li>
                <li class=""><a routerLink="/BranchMaster" routerLinkActive="active"><i class="menu-icon fa fa-user" aria-hidden="true"></i><span class="menu-text">Branch Master</span></a></li>
                <li class=""><a routerLink="/ChargeMaster" routerLinkActive="active"><i class="menu-icon fa fa-user" aria-hidden="true"></i><span class="menu-text">Charge Master</span></a></li>
                <li class=""><a routerLink="/DocumentMaster" routerLinkActive="active"><i class="menu-icon fa fa-user" aria-hidden="true"></i><span class="menu-text">Document Master</span></a></li>
                <li class=""><a routerLink="/TemplateMaster" routerLinkActive="active"><i class="menu-icon fa fa-user" aria-hidden="true"></i><span class="menu-text">Template Master</span></a></li>
                <li class=""><a routerLink="/SettlementTypeMaster" routerLinkActive="active"><i class="menu-icon fa fa-user" aria-hidden="true"></i><span class="menu-text">Settlement Type Master</span></a></li>
                <li class=""><a routerLink="/BusinessSegmentMaster" routerLinkActive="active"><i class="menu-icon fa fa-user" aria-hidden="true"></i><span class="menu-text">Business Segment Master</span></a></li>
                <li class=""><a routerLink="/ReturnReasonMaster" routerLinkActive="active"><i class="menu-icon fa fa-user" aria-hidden="true"></i><span class="menu-text">Return Reason Master</span></a></li>
                <li class=""><a routerLink="/Communicationtemplate" routerLinkActive="active"><i class="menu-icon fa fa-user" aria-hidden="true"></i><span class="menu-text">Communication Template</span></a></li>
                <li class=""><a routerLink="/Submembermaster" routerLinkActive="active"><i class="menu-icon fa fa-user" aria-hidden="true"></i><span class="menu-text">Sub Member Master</span></a></li>
                <li class=""><a routerLink="/Utilitymaster" routerLinkActive="active"><i class="menu-icon fa fa-user" aria-hidden="true"></i><span class="menu-text">Utility Master</span></a></li>
                <li class=""><a routerLink="/RBLBranchmaster" routerLinkActive="active"><i class="menu-icon fa fa-user" aria-hidden="true"></i><span class="menu-text">RBL Branch Master</span></a></li>
                <li class=""><a routerLink="/Psmmaster" routerLinkActive="active"><i class="menu-icon fa fa-user" aria-hidden="true"></i><span class="menu-text">PSM Master</span></a></li>

            </ul>
        </li>
        <li class="">
            <i class="menu-icon fa fa-cogs pl-1" aria-hidden="true"></i><span class="menu-text">Setup</span>
            <ul>
                <li class=""><a routerLink="/LinkSetup" routerLinkActive="active"><i class="menu-icon fa fa-link" aria-hidden="true"></i><span class="menu-text">Link Setup</span></a></li>
                <li class=""><a routerLink="/Corporatesetup" routerLinkActive="active"><i class="menu-icon fa fa-book" aria-hidden="true"></i><span class="menu-text">Corporate Setup</span></a></li>
                <li class=""><a routerLink="/user" routerLinkActive="active"><i class="menu-icon fa fa-user" aria-hidden="true"></i><span class="menu-text">User Role Setup</span></a></li>


            </ul>
        </li>
        <li class="">
            <i class="menu-icon fa fa-book pl-1" aria-hidden="true"></i><span class="menu-text">Mandate Reg Outward</span>
            <ul>
                <li class=""><a routerLink="/NachMandate" routerLinkActive="active"><i class="menu-icon fa fa-book" aria-hidden="true"></i><span class="menu-text">Nach Mandate</span></a></li>
                <li class=""><a routerLink="/Newhistoricalmandate" routerLinkActive="active"><i class="menu-icon fa fa-calendar" aria-hidden="true"></i><span class="menu-text">Historical Mandate</span></a></li>
                <li class=""><a routerLink="/Allumrn" routerLinkActive="active"><i class="menu-icon fa fa-hourglass-start" aria-hidden="true"></i><span class="menu-text">All UMRN</span></a></li>

            </ul>
        </li>

    </ul>
</div>
