<div class="main-content" id="maincontent">
    <div class="content">
        <div class="col-md-12 col-sm-6 col-xs-4 contnt-wrapper">
            <div class="col-sm-6 col-md-6 col-xs-3 no-padding">
                <span class="legal">Utility Master</span>
            </div>
            <div class="rightmenu">
                <div class="toolbar pull-right">

                </div>
            </div>
        </div>
        <div class="clearfix"></div>

        <div class="col-sm-12 col-xs-12 col-md-12">
            <div class="col-sm-12 col-xs-12 col-md-12">
                <div class="row boxhead">
                    <div class="col-md-6 col-sm-4 col-xs-12 no-padding">

                        <div class="form-group">
                            <label class="col-sm-4 col-md-4 col-xs-4 control-label no-padding">
                                Customer Name:
                            </label>
                            <div class="col-sm-7 col-md-8 col-xs-7 txtField">
                                <input type="text" class="col-sm-12 col-md-12 col-xs-12" />
                            </div>
                        </div>

                    </div>
                    <div class="col-md-6 col-sm-4 col-xs-12 no-padding">

                        <div class="form-group">
                            <label class="col-sm-4 col-md-4 col-xs-4 control-label no-padding">
                                Utility Code:
                            </label>
                            <div class="col-sm-7 col-md-8 col-xs-7 txtField">
                                <input type="text" class="col-sm-12 col-md-12 col-xs-12" />
                            </div>
                        </div>

                    </div>
                    <div class="col-md-6 col-sm-4 col-xs-12 no-padding">

                        <div class="form-group">
                            <label class="col-sm-4 col-md-4 col-xs-4 control-label no-padding">
                                Branch Name & Code:
                            </label>
                            <div class="col-sm-7 col-md-8 col-xs-7 txtField">
                                <input type="text" class="col-sm-12 col-md-12 col-xs-12" />
                            </div>
                        </div>

                    </div>
                    <div class="col-md-6 col-sm-4 col-xs-12 no-padding">

                        <div class="form-group">
                            <label class="col-sm-4 col-md-4 col-xs-4 control-label no-padding">
                                Customer Address:
                            </label>
                            <div class="col-sm-7 col-md-8 col-xs-7 txtField">
                                <input type="text" class="col-sm-12 col-md-12 col-xs-12" />
                            </div>
                        </div>

                    </div>
                    <div class="col-md-6 col-sm-4 col-xs-12 no-padding">

                        <div class="form-group">
                            <label class="col-sm-4 col-md-4 col-xs-4 control-label no-padding">
                                RM Name:
                            </label>
                            <div class="col-sm-7 col-md-8 col-xs-7 txtField">
                                <input type="text" class="col-sm-12 col-md-12 col-xs-12" />
                            </div>
                        </div>

                    </div>
                    <div class="col-md-6 col-sm-4 col-xs-12 no-padding">

                        <div class="form-group">
                            <label class="col-sm-4 col-md-4 col-xs-4 control-label no-padding">
                                Business Segment Description:
                            </label>
                            <div class="col-sm-7 col-md-8 col-xs-7 txtField">
                                <input type="text" class="col-sm-12 col-md-12 col-xs-12" />
                            </div>
                        </div>

                    </div>
                    <div class="col-md-6 col-sm-4 col-xs-12 no-padding">

                        <div class="form-group">
                            <label class="col-sm-4 col-md-4 col-xs-4 control-label no-padding">
                                Business Segment code:
                            </label>
                            <div class="col-sm-7 col-md-8 col-xs-7 txtField">
                                <input type="text" class="col-sm-12 col-md-12 col-xs-12" />
                            </div>
                        </div>

                    </div>
                    <div class="col-md-6 col-sm-4 col-xs-12 no-padding">

                        <div class="form-group">
                            <label class="col-sm-4 col-md-4 col-xs-4 control-label no-padding">
                                Contact Person:
                            </label>
                            <div class="col-sm-7 col-md-8 col-xs-7 txtField">
                                <input type="text" class="col-sm-12 col-md-12 col-xs-12" />
                            </div>
                        </div>

                    </div>
                    <div class="col-md-6 col-sm-4 col-xs-12 no-padding">

                        <div class="form-group">
                            <label class="col-sm-4 col-md-4 col-xs-4 control-label no-padding">
                                Contact person Designation:
                            </label>
                            <div class="col-sm-7 col-md-8 col-xs-7 txtField">
                                <input type="text" class="col-sm-12 col-md-12 col-xs-12" />
                            </div>
                        </div>

                    </div>
                    <div class="col-md-6 col-sm-4 col-xs-12 no-padding">

                        <div class="form-group">
                            <label class="col-sm-4 col-md-4 col-xs-4 control-label no-padding">
                                Contact number:
                            </label>
                            <div class="col-sm-7 col-md-8 col-xs-7 txtField">
                                <input type="text" class="col-sm-12 col-md-12 col-xs-12" />
                            </div>
                        </div>

                    </div>
                    <div class="col-md-6 col-sm-4 col-xs-12 no-padding">

                        <div class="form-group">
                            <label class="col-sm-4 col-md-4 col-xs-4 control-label no-padding">
                                Fax Number:
                            </label>
                            <div class="col-sm-7 col-md-8 col-xs-7 txtField">
                                <input type="text" class="col-sm-12 col-md-12 col-xs-12" />
                            </div>
                        </div>

                    </div>
                    <div class="col-md-6 col-sm-4 col-xs-12 no-padding">

                        <div class="form-group">
                            <label class="col-sm-4 col-md-4 col-xs-4 control-label no-padding">
                                Arrangement (in days):
                            </label>
                            <div class="col-sm-7 col-md-8 col-xs-7 txtField">
                                <input type="text" class="col-sm-12 col-md-12 col-xs-12" />
                            </div>
                        </div>

                    </div>
                    <div class="col-md-6 col-sm-4 col-xs-12 no-padding">

                        <div class="form-group">
                            <label class="col-sm-4 col-md-4 col-xs-4 control-label no-padding">
                                Pick Up point:
                            </label>
                            <div class="col-sm-7 col-md-8 col-xs-7 txtField">
                                <input type="text" class="col-sm-12 col-md-12 col-xs-12" />
                            </div>
                        </div>

                    </div>
                    <div class="col-md-6 col-sm-4 col-xs-12 no-padding">

                        <div class="form-group">
                            <label class="col-sm-4 col-md-4 col-xs-4 control-label no-padding">
                                Location:
                            </label>
                            <div class="col-sm-7 col-md-8 col-xs-7 txtField">
                                <input type="text" class="col-sm-12 col-md-12 col-xs-12" />
                            </div>
                        </div>

                    </div>
                    <div class="col-md-6 col-sm-4 col-xs-12 no-padding">

                        <div class="form-group">
                            <label class="col-sm-4 col-md-4 col-xs-4 control-label no-padding">
                                Contact person:
                            </label>
                            <div class="col-sm-7 col-md-8 col-xs-7 txtField">
                                <input type="text" class="col-sm-12 col-md-12 col-xs-12" />
                            </div>
                        </div>

                    </div>
                    <div class="col-md-6 col-sm-4 col-xs-12 no-padding">

                        <div class="form-group">
                            <label class="col-sm-4 col-md-4 col-xs-4 control-label no-padding">
                                Contact person name:
                            </label>
                            <div class="col-sm-7 col-md-8 col-xs-7 txtField">
                                <input type="text" class="col-sm-12 col-md-12 col-xs-12" />
                            </div>
                        </div>

                    </div>
                    <div class="col-md-6 col-sm-4 col-xs-12 no-padding">

                        <div class="form-group">
                            <label class="col-sm-4 col-md-4 col-xs-4 control-label no-padding">
                                Customer Mail IDs:
                            </label>
                            <div class="col-sm-7 col-md-8 col-xs-7 txtField">
                                <input type="text" class="col-sm-12 col-md-12 col-xs-12" />
                            </div>
                        </div>

                    </div>
                    <div class="col-md-6 col-sm-4 col-xs-12 no-padding">

                        <div class="form-group">
                            <label class="col-sm-4 col-md-4 col-xs-4 control-label no-padding">
                                Settlement Type:
                            </label>
                            <div class="col-sm-7 col-md-8 col-xs-7 txtField">
                                <input type="text" class="col-sm-12 col-md-12 col-xs-12" />
                            </div>
                        </div>

                    </div>
                    <div class="col-md-6 col-sm-4 col-xs-12 no-padding">

                        <div class="form-group">
                            <label class="col-sm-4 col-md-4 col-xs-4 control-label no-padding">
                                Single Entry, Individual Break Up Entry & Net Off Individual Entry):
                            </label>
                            <div class="col-sm-7 col-md-8 col-xs-7 txtField">
                                <input type="text" class="col-sm-12 col-md-12 col-xs-12" />
                            </div>
                        </div>

                    </div>

















                    <div class="col-md-6 col-sm-2 col-xs-12  no-padding">
                        <div class=" col-md-12 pull-right no-padding-right">
                            <input type="button" class=" AddbtnCSS btn btn-success" style="padding:0 8px; margin-top: 5px; display:inline-block; margin-right:5px;float: right;" id="" value="Save">

                        </div>
                    </div>
                </div>
            </div>
        </div>



       

    </div>
</div>
